h5 {
    display: block;
    font-size: 2em;
    font-weight: bold;
	margin:0px;
}

h6 {
    display: block;
    font-size: 3em;
    font-weight: bold;
	margin:70px 0px 0px 0px;
}

#header {
	width:100%;
	background-color:#00008B;
	
}
#resume {
	color:white;
	padding-left:5%;
	font-family:tahoma;
	font-weight:200;
	font-size:25px;
}
#social {
	margin-left:80%;
}
#one {
	padding-left:2%;
	padding-right:2%;
	position:relative;
	width:94%;
	overflow:hidden;
	
}
#pss {
	float:left;
}
#name {	
	width:45%;
	float:left;
}
#subname {
	font-family:serif;
	font-size:25px;
	color:#000077;
}
#designation {
	
	font-family:serif;
	font-size:15px;
	color:#808080;

}
#bio {
	width:45%;
	float:right;
	margin-top:15px;
}
.subhead {
	font-family:tahoma;
	font-size:15px;
	font-weight:400;
	color:#808080;
}
.li {
	width:100%;
}
#l2 {
	width:100%;
	background-color:#005297;
	border:0px;
	height:2px;
}
#two {
	padding-left:2%;
	padding-right:2%;
	position:relative;
	width:94%;
	overflow:hidden;
	
}
#intro {
	margin-left:20px;
}
#ps {
	width:45%;
	text-align:center;
	float:left;	
	border-right: solid #c9c6c6 2px;
	border-height:110px;
	padding-right:90px;
}
.pic {
	float:left;
}
#skills {

	width:45%;
	float:right;	
	
}
.divbar {

	border: 1px;
	position:realtive;
	height:20px;
	width:300px;
	overflow:hidden;
	background-color:#D3D3D3;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	display:inline-block;
	margin: 5px 5px 5px 5px;
float:right;
	

}
.innerbar {
	
	height:20px;
	background-color: #005297;
	position:absolute;
	box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
	overflow:hidden;
}
.label {
	font-family:tahoma;
	font-size:20px;	
	margin: 5px 5px 5px 5px;
	display:inline-block;
}
h4{
	color:#005297;
	font-size:20px;
	font-family:tahoma;
}
#three {
	padding-left:2%;
	padding-right:2%;
	position:relative;
	width:94%;
	overflow:hidden;	
}
#education {

	width:45%;
	float:left;
	border-right: solid #c9c6c6 2px;
	padding-right:90px;
}
#experience {
	width:45%;
	float:right;
}
.head {
	font-family:tahoma;
	font-size:20px;
	font-weight:600;
}
.year {
	background-color:#808080;
	font-family:tahoma;
	color:white;
	float:right;
	font-weight:600;
	border:1px solid;
}
#four {
	padding-left:2%;
	padding-right:2%;
	position:relative;
	width:94%;
	overflow:hidden;	
}
#portfolio {

	width:94%;
}
.pimg{
	padding-left:2.5%;
	padding-right:2.5%;
}
.pimages {
	text-align:center;
}
p1
{
	margin:0px;
	color:#005297;
	font-weight:bold;
}

p2
{
	margin:5px;
	 display: block;
	 font-weight:bold;
	 font-size:25px;
}

p3
{
	margin:5px;
	 display: block;
	 font-size:20px;
}